!!! 5
%html
  %head
    %title= "JudgeMe"
    = partial 'layouts/stylesheets'
    = partial 'layouts/javascripts'

  %body.container
    = partial 'layouts/header'
    %section
      = partial 'layouts/flash'
      = yield
    = partial 'layouts/footer'